.container {
    font-family: 'Arial', sans-serif;
    padding-top: 11vh;
    background-color: #252525;
    color: #ffffff;
    margin: 0 auto;
    max-width: 960px;
}

* {
    box-sizing: border-box;
}

.header-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sort-icon {
    padding-left: 8px;
}

.table-header {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 1fr 1fr 1fr;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 10px;
    border-bottom: 2px solid #6c757d;
    margin-bottom: 10px;
    color: #adb5bd;
}

.problem-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.problem-item {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #6c757d;
    padding: 15px 10px;
    transition: background-color 0.3s;
}

.problem-item:nth-child(odd) {
    background-color: #2d2f34;
}

.problem-item:hover {
    background-color: #495057;
}

.problem-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
}

.status-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.type-banners {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 0 10px;
}

.banner {
    flex: 1 0 220px;
    max-width: 230px;
    height: 130px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, filter 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    filter: brightness(0.9);
}

.banner:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    filter: brightness(1.1);
}

.banner.active {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.9);
    filter: brightness(1.2);
}

.banner:active {
    transform: translateY(0px) scale(0.98);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-4px); }
    100% { transform: translateY(0px); }
}

.banner:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    pointer-events: none;
    animation: float 2s infinite ease-in-out;
}


.banner.java {
    background-image: url('../images/java.png');
}

.banner.cpp {
    background-image: url('../images/cpp.png');
}

.banner.karel {
    background-image: url('../images/karel.png');
}

.topics-grid {
    display: flex;
    flex-wrap: wrap;
    background-color: #252525;
    align-items: center;
}

.topic-item {
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.topic-label {
    flex-grow: 1;
    margin-right: 10px;
    font-weight: 500;
}

.topic-count {
    background-color: #de9c45;
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    height: 25px;
    font-weight: bold;
}

.topic-item:hover {
    color: #007bff;
    transform: scale(1.1);
    background-color: #3c3c3c;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.topic-item.selected {
    color: #007bff;
}

.controls-row {
    display: flex;
}

.multi-select {
    width: 100%;
    flex-grow: 1;
}

.control-item {
    width: max-content;
}

.select-control, .text-input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    color: #000;
    font-size: 16px;
    box-sizing: border-box;
}

.select__option {
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.select__option:hover {
    background-color: #666;
    color: #DDD;
}

.text-input:focus {
    box-shadow: 0 0 0 2px #7289DA;
    outline: none;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.search-container.active {
    width: 250px;
}

.search-container button {
    background-color: #c39241;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0;

}

.search-container button:hover {
    background-color: #c39241;
}

.search-container input[type="search"] {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    width: 0;
    padding: 10px;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
    font-size: 14px;
}

.search-container.active input[type="search"] {
    width: 100%;
    opacity: 1;
}

.search-container input[type="search"]::placeholder {
    color: #aaa;
    font-style: italic;
}

.problem-item {
    cursor: pointer;
}

.problem-item:hover {
    background-color: #3a3b3c;
}

.no-message {
    font-size: 1em;
    color: #888;
    margin: 20px 0;
}
