.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #252525;
}

.login-form {
    background-color: #606060;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.login-title {
    margin-bottom: 20px;
    color: #1c1c1c;
    font-size: 24px;
    font-weight: bold;
}

.login-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #d59b1a;
}

@media (max-width: 400px) {
    .login-form {
        width: 90%;
        max-width: none;
    }
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
    color: #3b3b3b;
}

.signup-link a {
    color: orangered;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}

