.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #777777;
}

.signup-form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.signup-title {
    margin-bottom: 20px;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.signup-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
}

.signup-button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #ecec13;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: #ffcc00;
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
    color: black;
}

.login-link a {
    color: #1e4fa9;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

.error-message {
    color: #d9534f;
    background-color: #f2dede;
    border: 1px solid #d9534f;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}
