.submissions-container {
    background-color: #252525;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.submissions-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.submission-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    align-items: center;
    background-color: #2e2e2e;
    padding: 10px;
    border-radius: 8px;
}

.result.accepted {
    color: #4caf50;
}

.submitter-username {
    flex: 2.5;
}

.result.rejected {
    color: #f44336;
}

.date {
    color: #b0bec5;
}

.view-code-button {
    background-color: #ffb700;
    border: none;
    border-radius: 5px;
    color: #000;
    padding: 5px 10px;
    cursor: pointer;
}

.view-code-button:hover {
    background-color: #ffa500;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination-button {
    background-color: #013104;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination-button.active {
    background-color: #388e3c;
}

.pagination-button:hover {
    background-color: #45a049;
}

.code-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-popup-content {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    max-height: 80%;
    overflow-y: auto;
}

.no-submissions-message {
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}
